<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zad1_1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>zad1_2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>zad2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD5299B124F13BAC00D04CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5299BF24F13BD400D04CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5299CA24F13D1D00D04CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5299F724F13DFA00D04CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD529A0224F13E0B00D04CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
